<include file="public/header" />

<!--<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="__PUBLIC__/css/main.css" />
  <link rel="stylesheet" href="__PUBLIC__/tanchuang/css/message.css" />
  <script src="__PUBLIC__/tanchuang/js/jquery-1.6.2.js"></script>
 </head>

 <body onload="javascript:return require();">
 -->
  
  <div class="admin-main">
   <blockquote class="layui-elem-quote">
    <p>管理后台</p >
        
   </blockquote>
   <fieldset class="layui-elem-field">
    <legend></legend>
    <div class="layui-field-box">
     <fieldset class="layui-elem-field layui-field-title">
      <legend>版本号:# v0.01 2016-11-20</legend>
      <div class="layui-field-box">
       <p>1、基本布局 tab + iframe</p >
       <p>2、动态添加，删除tab</p >
       <p>3、表格样式</p >
       <p>4、分页组件</p >
      </div>
     </fieldset>
    </div>
   </fieldset>
  </div>
 </body>
<!-- <script type="text/javascript">

function require1() {
	 var url = "{:U('Oa/checkNotify')}";
	  $.get(url,function(data) {
		  if (data != '') {
			  tips_pop();
			  /*$.messager.show({
					title:'未查看消息通知',
					msg:'<p style="font-size:16px;">您有<span style="color:blue">'+data.count+'</span>则通知未查看</p>',
					showType:'show',
					style:{
						left:'',
						right:0,
						top:document.body.scrollTop+document.documentElement.scrollTop,
						bottom:''
					}
				});*/
			//  alert(data.oasystem_id+'--------------'+data.master_checkuser+'---------------'+data.count);
	             // 这里写提醒的方式
	         }
		 
		  
	  });
	 
}






	</script>
	 -->
	
</html>