<include file="public/header" />
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>编辑收费项目</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:U('Basic/updateCost')}">  
     <volist name="costlist" id='vo'>
    <input type="hidden" name="uid" value="{$vo.id}" />
      <div class="form-group">
        <div class="label">
          <label>收费项目名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$vo.cost_name}"  name="cost_name" data-validate="required:请输入收费项目名称" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>收费项目价格：</label>
        </div>
        <div class="field">
         <input type="text" class="input w50" value="{$vo.cost_expenses}" name="cost_expenses" data-validate="required:请输入项目价格" />
        </div>
      </div>     
      
      </volist>  
    <!--   <div class="form-group">
        <div class="label">
          <label>确认密码：</label>
        </div>
        <div class="field">
         <input type="password" class="input w50" value="" name="title" data-validate="required:确认密码" />
        </div>
      </div>     -->   
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>